## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Dikson,RU,73.5069,80.5464,-15.61,93,80,10.18,broken clouds
1,1,Sorong,ID,-0.8833,131.2500,79.41,86,100,4.79,moderate rain
2,2,Georgetown,MY,5.4112,100.3354,77.90,92,40,1.01,moderate rain
3,3,Noumea,NC,-22.2763,166.4572,84.99,99,92,8.34,overcast clouds
4,4,Yellowknife,CA,62.4560,-114.3525,4.41,92,100,8.01,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? -20
What is the maximum temperature you would like for your trip? 20

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Dikson,RU,73.5069,80.5464,-15.61,93,80,10.18,broken clouds
4,4,Yellowknife,CA,62.4560,-114.3525,4.41,92,100,8.01,overcast clouds
5,5,Ous,RU,60.9058,61.5186,13.87,90,99,7.74,overcast clouds
16,16,Qaanaaq,GL,77.4840,-69.3632,13.37,72,100,5.97,overcast clouds
26,26,Arman,RU,59.7000,150.1667,-2.45,97,100,10.76,light snow
...,...,...,...,...,...,...,...,...,...,...
638,638,Evensk,RU,61.9500,159.2333,9.79,85,100,6.26,overcast clouds
656,656,Inta,RU,66.0317,60.1659,8.37,96,100,5.93,light snow
680,680,Nikolayevsk-Na-Amure,RU,53.1406,140.7300,3.74,82,92,4.65,overcast clouds
690,690,Leshukonskoye,RU,64.8989,45.7622,8.80,93,100,7.90,overcast clouds
693,693,At-Bashi,KG,41.1702,75.8106,15.49,47,43,2.93,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Country        0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Dikson,RU,73.5069,80.5464,-15.61,93,80,10.18,broken clouds
4,4,Yellowknife,CA,62.4560,-114.3525,4.41,92,100,8.01,overcast clouds
5,5,Ous,RU,60.9058,61.5186,13.87,90,99,7.74,overcast clouds
16,16,Qaanaaq,GL,77.4840,-69.3632,13.37,72,100,5.97,overcast clouds
26,26,Arman,RU,59.7000,150.1667,-2.45,97,100,10.76,light snow
...,...,...,...,...,...,...,...,...,...,...
638,638,Evensk,RU,61.9500,159.2333,9.79,85,100,6.26,overcast clouds
656,656,Inta,RU,66.0317,60.1659,8.37,96,100,5.93,light snow
680,680,Nikolayevsk-Na-Amure,RU,53.1406,140.7300,3.74,82,92,4.65,overcast clouds
690,690,Leshukonskoye,RU,64.8989,45.7622,8.80,93,100,7.90,overcast clouds
693,693,At-Bashi,KG,41.1702,75.8106,15.49,47,43,2.93,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Dikson,RU,-15.61,broken clouds,73.5069,80.5464,
4,Yellowknife,CA,4.41,overcast clouds,62.4560,-114.3525,
5,Ous,RU,13.87,overcast clouds,60.9058,61.5186,
16,Qaanaaq,GL,13.37,overcast clouds,77.4840,-69.3632,
26,Arman,RU,-2.45,light snow,59.7000,150.1667,
27,Thompson,CA,-13.07,few clouds,55.7435,-97.8558,
30,Yerbogachen,RU,-1.17,light snow,61.2767,108.0108,
33,Chara,RU,-16.67,clear sky,56.9064,118.2631,
54,Kenai,US,16.14,light snow,60.5544,-151.2583,
70,Lavrentiya,RU,2.98,overcast clouds,65.5833,-171.0000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

# 6c. Get latitude and longitude from DataFrame
params["location"] = f"{lat},{lng}"
    
# 6d. Set up the base URL for the Google Directions API to get JSON data.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# 6e. Make request and retrieve the JSON data from the search. 
hotels = requests.get(base_url, params=params).json()
    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

In [9]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Dikson,RU,-15.61,broken clouds,73.5069,80.5464,
4,Yellowknife,CA,4.41,overcast clouds,62.4560,-114.3525,
5,Ous,RU,13.87,overcast clouds,60.9058,61.5186,
16,Qaanaaq,GL,13.37,overcast clouds,77.4840,-69.3632,
26,Arman,RU,-2.45,light snow,59.7000,150.1667,
...,...,...,...,...,...,...,...
638,Evensk,RU,9.79,overcast clouds,61.9500,159.2333,
656,Inta,RU,8.37,light snow,66.0317,60.1659,
680,Nikolayevsk-Na-Amure,RU,3.74,overcast clouds,53.1406,140.7300,
690,Leshukonskoye,RU,8.80,overcast clouds,64.8989,45.7622,
693,At-Bashi,KG,15.49,scattered clouds,41.1702,75.8106,Hostel At-Bashy

In [10]:
hotel_df.isnull().sum()

City           0
Country        0
Max Temp       0
Description    0
Lat            0
Lng            0
Hotel Name     0
dtype: int64

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Dikson,RU,-15.61,broken clouds,73.5069,80.5464,
4,Yellowknife,CA,4.41,overcast clouds,62.4560,-114.3525,
5,Ous,RU,13.87,overcast clouds,60.9058,61.5186,
16,Qaanaaq,GL,13.37,overcast clouds,77.4840,-69.3632,
26,Arman,RU,-2.45,light snow,59.7000,150.1667,
...,...,...,...,...,...,...,...
638,Evensk,RU,9.79,overcast clouds,61.9500,159.2333,
656,Inta,RU,8.37,light snow,66.0317,60.1659,
680,Nikolayevsk-Na-Amure,RU,3.74,overcast clouds,53.1406,140.7300,
690,Leshukonskoye,RU,8.80,overcast clouds,64.8989,45.7622,
693,At-Bashi,KG,15.49,scattered clouds,41.1702,75.8106,Hostel At-Bashy

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "weather_data/clean_hotel.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))