## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Bethel,US,41.3712,-73.4140,38.98,66,75,5.75,broken clouds
1,1,Bingol,TR,38.8847,40.4939,37.58,99,100,3.89,light rain
2,2,Ribeira Grande,PT,38.5167,-28.7000,63.00,59,75,5.75,broken clouds
3,3,Nanakuli,US,21.3906,-158.1547,76.95,83,90,4.61,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,75.16,66,16,16.55,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
3,3,Nanakuli,US,21.3906,-158.1547,76.95,83,90,4.61,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,75.16,66,16,16.55,few clouds
6,6,Butaritari,KI,3.0707,172.7902,82.11,78,98,11.65,light rain
7,7,Cidreira,BR,-30.1811,-50.2056,72.09,58,30,11.92,scattered clouds
8,8,Santa Isabel,BR,-23.3156,-46.2214,70.66,66,78,9.80,broken clouds
...,...,...,...,...,...,...,...,...,...,...
927,927,Sangmelima,CM,2.9333,11.9833,78.73,63,91,0.83,overcast clouds
930,930,Sola,VU,-13.8833,167.5500,75.87,100,20,0.00,few clouds
933,933,Mpika,ZM,-11.8343,31.4529,79.30,25,3,4.97,clear sky
940,940,Hwange,ZW,-18.3693,26.5019,87.69,38,45,6.89,scattered clouds
941,941,Isla Mujeres,MX,21.2311,-86.7310,82.17,70,65,8.55,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Country        1
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
3,3,Nanakuli,US,21.3906,-158.1547,76.95,83,90,4.61,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,75.16,66,16,16.55,few clouds
6,6,Butaritari,KI,3.0707,172.7902,82.11,78,98,11.65,light rain
7,7,Cidreira,BR,-30.1811,-50.2056,72.09,58,30,11.92,scattered clouds
8,8,Santa Isabel,BR,-23.3156,-46.2214,70.66,66,78,9.80,broken clouds
...,...,...,...,...,...,...,...,...,...,...
927,927,Sangmelima,CM,2.9333,11.9833,78.73,63,91,0.83,overcast clouds
930,930,Sola,VU,-13.8833,167.5500,75.87,100,20,0.00,few clouds
933,933,Mpika,ZM,-11.8343,31.4529,79.30,25,3,4.97,clear sky
940,940,Hwange,ZW,-18.3693,26.5019,87.69,38,45,6.89,scattered clouds
941,941,Isla Mujeres,MX,21.2311,-86.7310,82.17,70,65,8.55,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Nanakuli,US,76.95,overcast clouds,21.3906,-158.1547,
4,Rikitea,PF,75.16,few clouds,-23.1203,-134.9692,
6,Butaritari,KI,82.11,light rain,3.0707,172.7902,
7,Cidreira,BR,72.09,scattered clouds,-30.1811,-50.2056,
8,Santa Isabel,BR,70.66,broken clouds,-23.3156,-46.2214,
...,...,...,...,...,...,...,...
927,Sangmelima,CM,78.73,overcast clouds,2.9333,11.9833,
930,Sola,VU,75.87,few clouds,-13.8833,167.5500,
933,Mpika,ZM,79.30,clear sky,-11.8343,31.4529,
940,Hwange,ZW,87.69,scattered clouds,-18.3693,26.5019,
941,Isla Mujeres,MX,82.17,broken clouds,21.2311,-86.7310,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 500000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

# 6c. Get latitude and longitude from DataFrame
params["location"] = f"{lat},{lng}"
    
# 6d. Set up the base URL for the Google Directions API to get JSON data.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# 6e. Make request and retrieve the JSON data from the search. 
hotels = requests.get(base_url, params=params).json()
    
# 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

try: 
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [9]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Nanakuli,US,76.95,overcast clouds,21.3906,-158.1547,
4,Rikitea,PF,75.16,few clouds,-23.1203,-134.9692,
6,Butaritari,KI,82.11,light rain,3.0707,172.7902,
7,Cidreira,BR,72.09,scattered clouds,-30.1811,-50.2056,
8,Santa Isabel,BR,70.66,broken clouds,-23.3156,-46.2214,
...,...,...,...,...,...,...,...
927,Sangmelima,CM,78.73,overcast clouds,2.9333,11.9833,
930,Sola,VU,75.87,few clouds,-13.8833,167.5500,
933,Mpika,ZM,79.30,clear sky,-11.8343,31.4529,
940,Hwange,ZW,87.69,scattered clouds,-18.3693,26.5019,
941,Isla Mujeres,MX,82.17,broken clouds,21.2311,-86.7310,Hotel Flamingo Cancun Resort

In [10]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 356 entries, 3 to 941
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         356 non-null    object
 1   Country      356 non-null    object
 2   Max Temp     356 non-null    float64
 3   Description  356 non-null    object
 4   Lat          356 non-null    float64
 5   Lng          356 non-null    float64
 6   Hotel Name   356 non-null    object
dtypes: float64(3), object(4)
memory usage: 30.4+ KB

In [11]:
hotel_df.isnull().sum()

City           0
Country        0
Max Temp       0
Description    0
Lat            0
Lng            0
Hotel Name     0
dtype: int64

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
941,Isla Mujeres,MX,82.17,broken clouds,21.2311,-86.731,Hotel Flamingo Cancun Resort

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

IndexError: list index out of range